<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.ktor" level="WARN"/>
    <logger name="org.jetbrains.exposed" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
</configuration>
